{% extends "layout.html" %}
{% block content %}
<h4>CSV file contains phone numbers <h4>
  <div>
    <form name="input" action="/call/" enctype=multipart/form-data method="POST">
	    <input type="file" name="datafile" placeholder="CSV File containing numbers"><br>
	    <textarea rows=4 cols=50 name="text" placeholder="Text"></textarea>
	    <input type="submit" value="Submit" class="btn">
	</form>
  </div>
<br>
<p class="instruction"> Regular number must be prefixed with country code but without the ‘+’ sign).<br>
For e.g, to dial a number in the USA, the number could be, 15677654321, with '1' for the country code. </p>
{% endblock %}

